.header h1{
    font-weight: 700;
}
.headerToggle p{
    font-weight: 500;
}
.lightCon{
   
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
@media(max-width:599px){
    .container{
        width: 100%;
        background-color: hsl(209, 23%, 22%);
        height: 70px;
        display: flex;
        align-items: center;
        color: white;
    }
    .lightCon{
        width: 100%;
        background-color: white;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .headerToggle{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
@media(min-width:600px){
    .container{
        width: 100%;
        background-color: hsl(209, 23%, 22%);
        height: 70px;
        display: flex;
        align-items: center;
        color: white;
    }
    .lightCon{
        width: 100%;
        background-color: white;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .headerToggle{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .toggle{
        filter: grayscale(100%) brightness(200%);
    }
}
